<hr>
<p>
    <a href="/projects/lightweather.html" class="footlink">Project: Light Weather</a>
    <a href="/projects/epaper.html" class="footlink">Project: E-Paper</a>
    <a href="/projects/shelf.html" class="footlink">Project: Building Custom Shelves into my Desk</a>
</p>
<p>
    <a href="/" class="footlink">Home</a>
    <a href="/feeds/twtxt.txt" class="footlink">TWTXT Feed</a>
    <a href="/feeds/atom.xml" class="footlink">ATOM Feed</a>
    <a href="/feeds/feed.json" class="footlink">JSON Feed</a>
</p>
